﻿@{
    ViewData["Title"] = "SuperSupport.pl";
}

<div class="text-center">
    <h6 class="display-4">Witaj na stronie SuperSupport </h6>
    <p>W tym miejscu możesz utworzyć konto, które będzie przydatne jak ukończymy resztę strony :) </p>
</div>
